<div class="top-margin">
  <div class="container">
    <div class="row">
      <h1 class="headline">Featured Streams</h1>
    </div>
    <% @streams.each_slice(3) do |three_streams| %>
      <div class="row">
        <% three_streams.each do |stream| %>
          <div class="col-md-4 <%= stream.name %> stream-card">
            <h5><%= stream.game %>
            <%= link_to stream_path(stream.name) do %>
            <img src="<%= stream.preview %>"/>
            <% end %>
            <p class="stream-caption"><span class="oswald"><%= stream.viewers %></span> viewers watching <span class="oswald"><%= stream.name %></span></p>
            <p class="stream-description"><%= stream.description %></p>
            <%= link_to_follow(stream.name) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
