<div class="top-margin">
  <div class="container">
    <% @streams.each_slice(3) do |three_streams| %>
      <div class="row">
        <% three_streams.each do |stream| %>
          <div class="col-md-4">
            <img src="<%= stream.preview %>"/>
            <h5><%= stream.name %></h5>
            <p>Viewers: <%= stream.viewers %></p>
            <p><%= stream.description %></p>
            <%= link_to "View Stream", stream_path(stream.name) %>
            <%= link_to "Follow Stream", follows_path(id: stream.name), method: :post %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
